{{ define "main" }}
<article>
  {{ .Content }}
</article>

<!-- Utterances 댓글 -->
<div id="comments">
  <script src="https://utteranc.es/client.js"
          repo="asd7005201/asd7005201.github.io"
          issue-term="pathname"
          theme="github-light"
	  data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="1"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="ko"
          crossorigin="anonymous"
          async>
  </script>
</div>
{{ end }}

